name: Validation
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: validate Homey app
        run: |
          npm i -g athom-cli > /dev/null
          data=`athom app validate`
          echo "${data##*$'\n'}"
          [[ $data == *"did not validate"* ]] && exit 1 || exit 0
